@import './variables.scss';
@import './element-variables.scss';
@import './animation.scss';
@import './transition.scss';
@import './mixin.scss';
@import './sidebar.scss';

/*
  公共样式
*/

html, body, #app {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}


label {
  font-weight: 700;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active,
div:focus {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.text-center {
  text-align: center
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.not-select {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

ul {
  list-style: none;
}

// 修复 el-menu 菜单不显示的情况下显示上次页面菜单 active 问题
.router-link-active>li{
  color: $menuActiveText !important;
}
