// base color
// $blue:#324157;
// $light-blue:#3A71A8;
// $red:#C03639;
// $pink: #E65D6E;
// $green: #30B08F;
// $tiffany: #4AB7BD;
// $yellow:#FEC171;
// $panGreen: #30B08F;

/* theme color */
$color-primary: #1890ff;
$color-success: #13ce66;
$color-warning: #ffba00;
$color-danger: #ff4949;
$color-info: #1e1e1e;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409eff;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 200px;

// Nav Bar
$navBarHeight: 50px;

:export {
  custom-menu-text-color: $menuText;
  custom-menu-bg: $menuBg;
}
